﻿@using Newtonsoft.Json

@{
    var gridModel = JsonConvert.SerializeObject(Model);
}

<div>
    <div class="table-responsive">
        <table id="@Model.GridId" data-model="@gridModel" class="table table-hover"></table>
    </div>

    @{
        if (Model.RenderPager)
        {
            <ul id="@Model.PagerId" class="pagination"></ul>
        }
    }

</div>

<style>
    .sort-icon {
        background-image: url('/Content/images/sort.jpg');
        height: 14px;
        width: 14px;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        margin-left: 5px;
        margin-top: 3px;
    }

    .sort-icon-reverse {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .filter-text {
        float: left;
    }
</style>

<script type="text/javascript">
    function GridController(gridId, pagerId) {
        var self = this;

        self.$grid = $('#' + gridId),
        self.$pager = $('#' + pagerId),
        self.model = self.$grid.data('model'),
        self.columns = self.model.Columns,
        self.currentPage = 1;
        self.selectedRow = '';
        self.filteredData = [];

        self.filters = [];
        self.sortSettings = {};

        self.initialize(self.model);
    }

    GridController.prototype = Object.create({
        initialize: function (model) {
            var self = this;

            if (model.DataUrl) {
                $.get(model.DataUrl,
                    function (data) {
                        self.data = data;
                        self.buildGrid();
                    });
            } else {
                if (model.DataItems) {
                    self.data = model.DataItems;
                    self.buildGrid();
                }
            }
        },

        applySort: function (data) {
            var self = this,
                sortedData = data.slice();

            if (self.sortSettings && self.sortSettings.column) {
                var sortedKey = self.sortSettings.column.Name;

                sortedData = sortedData.sort(function (a, b) {
                    if (a[sortedKey] > b[sortedKey]) {
                        return 1;
                    }
                    if (a[sortedKey] < b[sortedKey]) {
                        return -1;
                    }

                    return 0;
                });
            }

            return sortedData;
        },

        applyFilter: function (data) {
            var self = this,
                filteredData = data.slice();

            $.each(self.filters, function (i, v) {
                filteredData = filteredData.filter(function (value) {
                    return value[v.key] == v.value;
                });
            });

            return filteredData;
        },

        applyPagination: function (data) {
            var self = this,
                model = self.model,
                pagedData = data.slice();

            if (self.model.RenderPager) {
                var startIndex = (self.currentPage - 1) * model.PageSize,
                    stopIndex = startIndex + model.PageSize;
                pagedData = pagedData.slice(startIndex, stopIndex);
            }

            return pagedData;
        },

        getData: function () {
            var self = this;

            var data = self.applyFilter(self.data);

            data = self.applySort(data);

            return self.applyPagination(data);
        },

        buildGrid: function () {
            var self = this;

            if (self.model.RenderHeader) {
                self.$grid.append(self.buildHeader());
            }

            self.$grid.append(self.buildBody());

            if (self.model.RenderPager) {
                self.buildPager();
            }
        },

        buildPager: function () {
            var self = this,
                totalCount = self.data.length,
                currentPage = self.currentPage,
                pageSize = self.model.PageSize;

            self.$pager.html('');

            var n = (totalCount % pageSize) === 0 ? totalCount / pageSize : totalCount / pageSize + 1;

            for (var i = 1; i <= n; i++) {
                var $li = $('<li>'),
                    $a = $('<a data-page-numder="' + i + '">' + i + '</a>');

                $a.bind('click', function () {
                    self.selectPage($(this));
                });

                $li.append($a);

                if (i === currentPage) {
                    $li.addClass('active');
                }

                self.$pager.append($li);
            }
        },

        buildHeader: function () {
            var self = this,
                $thead = $('<thead>'),
                $tr = $('<tr>');

            $.each(self.columns, function (i, v) {
                var $th = $('<th>'),
                    $sortIcon = $('<div class="sort-icon">'),
                    $text = $('<span class="filter-text">' + (v.HeaderName || v.Name) + '</span>');

                $th.data('column', v);

                $sortIcon.bind('click', function () {
                    var $this = $(this),
                        $th = $this.closest('th');

                    self.sortSettings = { column: $th.data('column'), direction: $sortIcon.hasClass('sort-icon-reverse') ? 0 : 1 };

                    if ($sortIcon.hasClass('sort-icon-reverse')) {
                        $sortIcon.removeClass('sort-icon-reverse');
                    } else {
                        $sortIcon.addClass('sort-icon-reverse');
                    }

                    self.resetGrid();
                });

                $th.append($text).append($sortIcon);

                $tr.append($th);
            });

            var theadClass = self.model.TheadClass || 'thead-inverse';

            $thead.append($tr);
            $thead.addClass(theadClass);

            return $thead;
        },

        buildBody() {
            var self = this,
                $tbody = $('<tbody>'),
                data = self.getData();

            for (var i = 0; i < data.length; i++) {
                var line = self.buildLine(data[i]);
                $tbody.append(line);
            }

            return $tbody;
        },

        buildLine: function (item) {
            var self = this,
                columns = self.columns,
                $line = $('<tr>');

            $.each(columns, function (i, v) {
                $line.append($('<td>').html(item[v.Name]));
            });

            $line.bind('click', function () {
                self.selectRow($(this));
            });

            return $line;
        },

        selectRow: function ($newRow) {
            if (self.selectedRow) {
                self.selectedRow.removeClass('selected-row');
            }

            $newRow.addClass('selected-row');

            self.selectedRow = $newRow;
        },

        selectPage: function ($link) {
            var self = this,
                $prevLink = $('[data-page-number = ' + self.currentPage + ']'),
                pageNumdber = $link.data('page-numder');

            $link.addClass('active');
            $prevLink.removeClass('active');

            self.changePage(pageNumdber);
        },

        resetGrid: function () {
            var self = this;

            self.$grid.html('');

            self.buildGrid();
        },

        changePage: function (pageNumber) {
            var self = this;

            self.currentPage = pageNumber;

            self.resetGrid();
        }
    });

    GridController.prototype.constructor = GridController;

    var grid = new GridController('@Model.GridId', '@Model.PagerId');
</script>
